.banner {
    margin-top: 0;
    padding: 0px 0 100px 0;
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: left;
    height: 100dvh;
    min-height: 500px;
}

.banner .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
