.custom-navbar {
  transition: all 0.3s ease-in-out;
  /* background-color: #223843; */
  padding: 10px 20px;
  /* margin-bottom: 180px; */
}

.custom-navbar.scrolled {
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  background-color: #223843;
}

.logo {
  transition: height 0.3s ease;
  height: 90px;

}

.nav-link,
.custom-button {
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  transition: color 0.2s ease;
  transition: background-color 0.3s ease;
  border: none;
}

.nav-link:hover {
  color: #fff;
  background-color: #0075f2;
}

.nav-link.active {
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #eee !important;
}