.custom-navbar {
  transition: all 0.3s ease-in-out;
  /* background-color: #223843; */
  padding: 14px 20px;
  /* margin-bottom: 180px; */
}

.custom-navbar.scrolled {
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  background-color: var(--navbar-scrolled-bg);
  opacity: 0.95;
}

.logo {
  transition: height 0.3s ease;
  height: 90px;

}

.nav-link,
.navbar-nav,
.custom-button {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--Navbar-text-color);
  padding: 0px 8px;
  border-radius: 6px;
  transition: color 0.2s ease;
  transition: background-color 0.3s ease;
  border: none;
}

.nav-link:hover {
  color: var(--Navbar-Active-text-color);
  background-color: var(--btn-background-color);
}

.navbar-nav .nav-link.active {
  color: var(--Navbar-Active-text-color);
}

