.projects-section {
  /* padding: 60px 20px; */
  text-align: center;
  /* background-color: #f7f9fc; */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  background: var(--card-bg-color);
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;
}

.project-info-container {
  min-height: 140px;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding-top: 8px;
}

.project-image {
  width: 100%;
  max-height: 240px;
  border-radius: 16px;
  object-fit: fill;
}

.project-title {
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--text-primary-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  font-weight: 500;
  height: 80px;
  max-height: 80px;
  color: var(--text-primary-color);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.project-link {
  display: inline-block;
  text-decoration: none;
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

.project-link:hover {
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-text-color);
  transition: background-color 0.3s ease;
}