/* Skills.css */
.skills-section {
  text-align: center;
}

.skills-category {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.skills-category-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skill-pill {
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.95rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.skill-pill:hover {
  background-color: var(--btn-background-color);
  transform: scale(1.05);
  /* background-color: var(--btn-hover-background-color); */
}