body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #223843 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }
  