#root {
  background-color: #223843 !important;
  --bs-heading-color: #ffffff;
  --bs-body-color: #ffffff;
  --btn-color: #0987f2;
  --btn-text-color: #ffffff;
  /* --project-card-bg: #ffffff00; */
  --text-color: #ffffff;
  /* Ensure this variable is defined */
  --form-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --font-family: 'Poppins', sans-serif;
  --bs-body-font-weight: 300;

}

.body {
  /* --bs-body-color: #ffffff; */
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: var(--bs-body-color) !important;
  background-color: var(--background-color) !important;
  font-family: 'Centra', sans-serif !important;
}


section {
  scroll-margin-top: 50px;
}